header {
    opacity: 0.8;
}
.nav-text {
    font-family: "Zen Maru Gothic", sans-serif;
}

.effect h1 {
    font-size: 40px;
    line-height: 70px;
    color: rgb(59, 215, 220);
    font-weight: bold;
    font-family: "Zen Maru Gothic", "Cherry Bomb One", sans-serif;
    text-shadow: 1px 1px 0 rgb(181, 194, 194), -1px -1px 0 rgb(181, 194, 194),
        -1px 1px 0 rgb(181, 194, 194), 1px -1px 0 rgb(181, 194, 194),
        0 1px 0 rgb(181, 194, 194), 0 -1px 0 rgb(181, 194, 194),
        -1px 0 0 rgb(181, 194, 194), 1px 0 0 rgb(181, 194, 194);
    letter-spacing: 10px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin-top: 500px;
}

.content {
    /* margin-top: 100px; */
    margin-bottom: 100px;
}
.cont_wrap.effect.clfix h2 {
    font-size: 30px;
    font-weight: bold;
    color: #8f8e8e;
}

.obi_001 h2 {
    font-size: 30px;
    font-weight: bold;
}
.home-concept-wrapper {
    display: flex;
    justify-content: center;
}

.home-concept-box {
    background-color: rgba(212, 243, 238, 0.3);
    padding-top: 30px;
    max-width: 900px;
    width: 100%;
}
.obi_001 h2 span {
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 0 20px 10px 20px;
}

.center-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.box_att h2 {
    font-size: 50px;
    font-weight: bold;
}

.schedule {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.contact {
    width: 100%;
    margin: 0 auto;
}
.contact-minibox {
    background-color: rgba(212, 243, 238, 0.3);
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
    padding: 40px;
}

.cont_wrap_effect {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.mobile-small-text-1 {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 2px 3px #333;
}

.effect-box {
    background-color: rgba(212, 243, 238, 0.3);
    padding: 30px;
    border-radius: 20px;
}

.mobile-br {
    display: none;
}

@media screen and (max-width: 640px) {
    .mobile-small-text {
        font-size: 16px !important;
    }
    .mobile-br {
        display: inline-block;
    }
}
